$color: #green;
$font12:12px;
$font20:20px;
$borderradius8:8px;
.home-section-wrapper {
  padding:19px 17px;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 2px rgba(137,174,240,0.15);
  border-radius: 4px;
  .home-section {

  }
}