$color: #fff;
$font16:16px;
.nav {
  height:35px;
  width:110px;
  line-height:35px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  li.active{
    border-bottom:2px solid #fff
  }
  .nav-a {
    color:$color;
    font-size:$font16;
    padding-bottom:5px;
    
  }

}